body {
    padding:0;
    margin:0;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;  
}

.heading{
    width: 100%;
    height: 60px;
    background-color: #000;
    color:gainsboro;
    padding: 5px 0px 25px 0px;
}

.container .box {
    display: flex;
    position: relative;
    text-align:left;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 20px 10px 20px;
    margin: 20px;
    border-radius: 10px;
}

.container .underBox {
    display: flex;
    border: 1px solid gainsboro;
    justify-content: space-evenly;
    padding-right: 60px;
    border-radius: 10px;
    text-align: left;
    align-items: center;
}

.align {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.alignDown {
    padding-bottom: 15px;
}

.alignBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:30px 25px 50px 80px;
}

.breakText{
    width: 250px;
}

.buttonPay{
    background-color:rgb(106, 218, 212);
    border: 1px solid rgb(18, 180, 172);
    border-radius: 7px;
    padding: 10px 34px 10px 30px;
}
.buttonPay:hover {
    background-color:rgb(111, 243, 243);
}

.buttonLoan{
    background-color:rgb(27, 171, 80);
    border: 1px solid rgb(17, 130, 84);
    border-radius: 7px;
    margin: 10px;
    padding: 10px 64px 10px 60px;
}
.buttonLoan:hover {
    background-color:rgb(110, 241, 134);
}

.buttonWork{
    background-color:rgb(255, 255, 0);
    border: 1px solid rgb(192, 192, 28);
    border-radius: 7px;
    margin: 10px;
    padding: 10px 22px 10px 20px;
}
.buttonWork:hover {
    background-color:rgb(250, 250, 108);
}

.buttonBank{
    background-color:blue;
    border: 1px solid rgb(2, 2, 92);
    border-radius: 7px;
    margin: 10px;
    padding: 10px 22px 10px 20px;
}
.buttonBank:hover {
    background-color: rgb(97, 97, 218);
}

.buttonPayLoan{
    background-color:red;
    border: 1px solid rgb(146, 19, 19);
    border-radius: 7px;
    float: center;
    padding: 10px 22px 10px 20px;
}
.buttonPayLoan:hover {
    background-color: rgb(255, 62, 62);
}

.adjustImg {
    height: 180px;
}